// Bootstrap overrides
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700");

$blue: #1a70b8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ee3a35 !default;
$orange: #f8a41b !default;
$yellow: #ffc107 !default;
$green: #65bc59 !default;
$teal: #20c997 !default;
$cyan: #26a4ea !default;

$white:    #fff !default;
$gray-100: #f2f2f2 !default;
$gray-200: #e6e6e6 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #9b9b9b !default;
$gray-600: #747a82 !default;
$gray-700: #4a4a4a !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 90%,
  xl: 90%
) !default;

$headings-font-family: "Montserrat", sans-serif !default;
$font-family-base: "Lato", sans-serif !default;

$body-color: $gray-700 !default;
