<div class="card-body">
  <div class="d-inline-flex w-100" id="user">
    <div class="mr-1 d-flex align-items-center">
      <img class="avatar" src="http://www.placeimg.com/64/64/people" width="64" height="64" alt="...">
    </div>
    <div class="d-inline-flex flex-column align-items-start justify-content-center ml-3">
      <span class="mb-1">Username Text</span>
      <p class="text-muted small mb-1">March 31 at 7:23 am</p>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-end">
    <div class="align-self-end p-3 comment bg-light rounded" id="comment">
      This is a comment.  User experience product management metrics sales gen-z. Monetization business plan termsheet equity twitter direct mailing virality learning curve pivot. Success stock user experience advisor ramen.
    </div>
  </div>
</div>
