<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-primary">

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/components">Components</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == "demo" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/social-site/" target="_blank" >Demo</a>
      </li>
    </ul>
  </div>

</header>
