<div class="card-body">
  <div class="d-inline-flex">
    <img class="rounded-circle mr-1 align-self-start" src="https://www.placeimg.com/64/64/people"  alt="A user avatar">
    <div class="d-inline-flex flex-column align-items-start justify-content-center ml-3">
      <span class="mb-1">Username Text</span>
      <p class="text-muted small mb-2">March 31 at 7:23 am</p>
      <div class="p-3 comment bg-light rounded">
        This is a comment.  User experience product management metrics sales gen-z. Monetization business plan termsheet equity twitter direct mailing virality learning curve pivot. Success stock user experience advisor ramen.
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="d-inline-flex">
    <img class="rounded-circle mr-1 align-self-start" src="https://www.placeimg.com/64/64/people"  alt="...">
    <div class="d-inline-flex flex-column align-items-start justify-content-center ml-3">
      <span class="mb-1">Username Text</span>
      <p class="text-muted small mb-2">April 1 at 9:35 am</p>
      <div class="p-3 comment bg-light rounded">
        This is a short comment.
      </div>
    </div>
  </div>
</div>
